html
    {
        margin: 0;
        height: 100%;   
        background-color: rgba(97, 97, 97, 0.555);
    }
body
    {
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100%;        
    }
a
    {
        text-decoration: none;
        color: black;
    }
/* Header */
header  
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(1, 124, 73);
    }
.HeadG
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-grow: 1.5;       
    }
.HeadD
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-grow: 3;
    }
header a:hover
    {
        color: white;
    }
/* Main */
main    
    {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
#discussenger
    {       
        color: rgb(1, 124, 73);
    }
#user
    {
        color: rgb(1, 124, 73);
        text-decoration: underline;
    }
main a
    {
        text-decoration: underline;
    }
main a:hover
    {
        color: red;
    }
#info_index
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
form    
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
input
    {
        text-align: center;
    }
#form_inscription
    {
        height: 60vh; 
        width: 30vw;
        background-color: rgba(241, 4, 4, 0.575);
        box-shadow: 2px 2px 10px black;
    }
#form_connexion
    {       
        height: 40vh; 
        width: 30vw;
        background-color: rgba(241, 4, 4, 0.575);
        box-shadow: 2px 2px 10px black;
    }
#form_profil
    {
        height: 70vh; 
        width: 30vw;
        background-color: rgba(241, 4, 4, 0.575);
        margin-bottom: 5vh;
        box-shadow: 2px 2px 10px black;
    }
#form_discussion
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5vh;
    }

#pas_i a:hover
    {
        color: blue;
    }
.bouton
    {
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.651);
    }
.bouton:hover
    {
        border: 1px solid red;
    }
/* Message */
#espace_message
    {
        display: flex;
        flex-direction: column;
        height: 60vh;
        width: 50vw;
        overflow-y: scroll;
        margin-top: 5vh;
        margin-bottom: 5vh;
        border: 1px solid black;
        border-radius: 10px;
    }
#message_info
    {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba(241, 4, 4, 0.575);
        width: 100%;
        background-color: white;        
    }
#message_user
    {
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
        border-bottom: 1px solid rgba(241, 4, 4, 0.575);
        width: 100%;
        background-color: white;  
    }
#message_
    {
        padding-left: 2vw;
    }
#user_message
    {
        padding-right: 2vw;
    }
#last_message
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid rgba(241, 4, 4, 0.575);
        border-radius: 10px;
        width: 100%;
        background-color: white;
    }
.msg_error
    {
        color: red;
    }
.info_msg
    {
        color: rgb(1, 124, 73);
    }
/* Suppression */
#target_sup
    {
        display: none;
    }
#target_sup:target
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position:absolute;
        height: 35vh;
        width: 20vw;
        left: 40%;
        top: 30%;
        background-color: rgba(128, 133, 128, 0.884);
        border: 1px solid rgb(1, 124, 73);
        border-radius: 10px;
    }
#target_sup section
    {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-evenly;
    }
#target_sup a
    {
        text-decoration: none;
    }
/* Footer */
footer  
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: rgb(1, 124, 73);
    }
footer a:hover
    {
        color: blue;
    }